<md-content layout-padding>
    <div ng-if="posts.canChooseStatus">
        <md-input-container>
            <label>Show...</label>
            <md-select ng-model="posts.mode">
                <md-option ng-value="'all'">
                    ALL
                </md-option>
                <md-option ng-repeat="(key, value) in posts.statusList" ng-value="value">
                    {{value}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="show(posts.mode === 'all' ? undefined : posts.mode)"
                   ng-disabled="pending">
            <span ng-hide="pending">OK</span>
            <spinner ng-show="pending" color="light"></spinner>
        </md-button>
        <div ng-show="error" class="error">{{error}}</div>
    </div>

    <div ng-repeat="post in posts.list">
        <post post="post" show-status="canChooseStatus" mode="preview {{posts.canEdit}} {{posts.canApprove}}"></post>
    </div>
</md-content>