body {
    overflow: hidden;
}

h1 {
    margin: 5px 10px;
    display: inline-block;
}

h2 span {
    text-align: center;
    width: 100%;
}

h1 a {
    color: #fff;
    text-decoration: none;
}

.width-500 {
    width: 500px;
}

.user-list {
    display: table;
    width: 100%;
}

.cell {
    display: table-cell;
}

.user {
    display: table-row;
}

form md-input-container {
    width: 500px;
}

form .preview {
    width: 200px;
    display: block;
    margin: 10px;
}

.post.view {
    width: 700px;
    margin: 0 auto 10px;
    text-align: center;
    border: 1px solid rgb(63,81,181);
    border-radius: 5px;
    background: rgba(63,81,181, 0.1);
}
.post.preview {
    width: 350px;
    height: 350px;
    margin: 0px 10px 10px 12px;
    text-align: center;
    border: 1px solid rgb(63,81,181);
    border-radius: 5px;
    background: rgba(63,81,181, 0.1);
    display: inline-block;
    overflow: hidden;
}

.header .button {
    padding: 20px 10px 10px;
    color: #fff;
    display: inline-block;
}

.right {
    float: right;
}

.horizontal-margin {
    margin: 0 10px;
}

.white {
    color: white;
}

.post {
    position: relative;
}

.post .image {
    background-repeat: no-repeat;
    margin: 0 auto;
}
.post.preview .image {
    border-radius: 5px;
    max-width: 250px;
    max-height: 200px;
}
.post.view .image {
    width: 650px;
}

.post i {
    position: absolute;
    top: 10px;
    left: 10px;
}

.post .title {
    margin: 10px;
}

.post.view .title {
    font-size: 25px;
    font-weight: 600;
}

.header {
    position: absolute;
    z-index: 100;
    top: 0;
    width: 100%;
    background: #2b2b2e;
    box-sizing: border-box;
    height: 50px;
    border-bottom: 2px white solid;
}

.view-container {
    padding-top: 50px;
    width: 800px;
    margin: 0 auto;
    height: 100%;
    background-color: rgb(250,250,250);
    box-sizing: border-box;
}

.wrapper {
    background: #ddd;
    position: relative;
    height: 100%;
    overflow: auto;
}

.app-container {
    height: 100%;
}

.error {
    color: rgb(221,44,0);
    font-size: 12px;
    line-height: 14px;
}

.spinner {
    width: 50px;
    text-align: center;
}

.spinner > div {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    margin: 0 auto;
}

.spinner.dark > div{
    background-color: #333;
}
.spinner.light > div{
    background-color: #fff;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}